/* About us homepage*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.About_page {
  width: 100%;
  /*Navigation*/
  /*Middle part*/
  /*talk*/
}

.About_page .navigation {
  width: 80%;
  margin: 0 auto 5px;
  padding: 10px 0;
  font-family: Nunito;
}

.About_page .navigation .navbar-brand {
  font-family: Josefin Sans;
  font-weight: 800;
  line-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
}

.About_page .navigation .navbar-brand img {
  margin-top: -10px;
}

.About_page .navigation .nav-link {
  padding: 10px 30px;
  white-space: nowrap;
  font-weight: 500;
  color: #242424;
}

.About_page .navigation .nav-link:hover {
  color: black;
  font-weight: 600;
}

.About_page .About_middle {
  width: 80%;
  height: 65vh;
  background: #e7816b;
  color: #fff;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.About_page .About_middle .text {
  width: 60%;
  padding: 15vh 10vh;
  position: relative;
  z-index: 2;
}

.About_page .About_middle .text h1 {
  font-family: Josefin Sans;
}

.About_page .About_middle .text p {
  font-family: Poppins;
  font-size: 13px;
  word-spacing: 1px;
  line-height: 25px;
}

.About_page .About_middle .text::before {
  position: absolute;
  content: '';
  width: 450px;
  height: 450px;
  background: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 50%;
  z-index: -1;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -20%) scale(1.4);
          transform: translate(-50%, -20%) scale(1.4);
}

.About_page .About_middle .img {
  width: 40%;
}

.About_page .About_middle .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 10px 10px 0;
}

.About_page .About_talent {
  width: 80%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 130, 102, 0.2);
  margin: 100px auto;
  border-radius: 10px;
}

.About_page .About_talent .image {
  width: 40%;
}

.About_page .About_talent .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.About_page .About_talent .text {
  width: 60%;
  padding: 15vh 10vh;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.About_page .About_talent .text::before {
  position: absolute;
  content: '';
  right: -10%;
  bottom: -10%;
  width: 400px;
  height: 400px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: -1;
}

.About_page .About_talent .text h2 {
  color: #ff8064;
  font-family: Josefin Sans;
}

.About_page .About_talent .text p {
  font-family: Poppins;
  font-size: 14px;
}

.About_page .About_country {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.About_page .About_country .country {
  min-width: 300px;
  width: 30%;
  position: relative;
}

.About_page .About_country .country p {
  font-family: Josefin Sans;
  margin-top: 20px;
}

.About_page .About_country .country img {
  width: 200px;
  height: 200px;
}

.About_page .About_country .country button {
  border: none;
  outline: none;
  padding: 8px 35px;
  font-family: Nunito;
  font-weight: 600;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  background: #e7816b;
  color: white;
  border-radius: 5px;
}

.About_page .About_country .country::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(179, 179, 179, 0.1);
  -webkit-transform: translate(30%, 0);
          transform: translate(30%, 0);
  z-index: -1;
}

.About_page .About_deal {
  width: 80%;
  margin: 100px auto 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
  background-color: rgba(255, 130, 102, 0.2);
}

.About_page .About_deal .text {
  width: 60%;
  padding: 15vh 10vh;
}

.About_page .About_deal .text h3 {
  font-family: Josefin Sans;
  color: #ff8064;
}

.About_page .About_deal .text P {
  font-family: Poppins;
  font-size: 13px;
}

.About_page .About_deal .img {
  width: 40%;
}

.About_page .About_deal .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.About_page .talk {
  width: 80%;
  margin: auto;
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e7816b;
  border-radius: 20px;
  color: white;
  padding: 0 15vh;
  margin-top: -150px;
  position: relative;
  top: 100px;
}

.About_page .talk section {
  width: 60%;
  font-family: Josefin Sans;
}

.About_page .talk button {
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  padding: 7px 30px;
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
  z-index: 5;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.About_page .talk button::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 0;
  height: 100%;
  background: #0b222b;
  z-index: -2;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.About_page .talk button:hover {
  color: #fff;
}

.About_page .talk button:hover::before {
  width: 100%;
}

.About_page .footer_div {
  width: 100%;
  height: 50vh;
  background-color: #00171a;
  z-index: -2;
  padding-top: 20vh;
}

.About_page .footer_div .footer_navigation {
  width: 80%;
  margin: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.349);
}

.About_page .footer_div .footer_navigation .navbar-brand {
  margin-left: -20px;
}

.About_page .footer_div .footer_navigation a {
  color: #fff;
  white-space: nowrap;
}

.About_page .footer_div .footer_navigation .nav-item {
  margin-right: 20px;
}

.About_page .footer_div .other_footer {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.About_page .footer_div .other_footer p {
  color: #fff;
  font-family: Poppins;
  font-size: 13px;
  line-height: 25px;
}

.About_page .footer_div .other_footer .address {
  width: 30%;
}

.About_page .footer_div .other_footer .contact {
  width: 30%;
}

.About_page .footer_div .other_footer .fonts {
  width: 40%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.About_page .footer_div .other_footer .fonts i {
  font-size: 25px;
  color: #b1b1b1;
  margin: 0 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

/*ipad pro*/
@media screen and (min-Width: 950px) and (max-Width: 1200px) {
  .About_page .About_middle {
    width: 100%;
    height: 150%;
  }
  .About_page .About_middle .text {
    padding: 15vh 5vh 15vh;
  }
  .About_talent {
    width: 100% !important;
    height: 100% !important;
  }
  .About_talent .text {
    padding: 15vh 5vh 15vh;
  }
  .About_country {
    width: 100% !important;
  }
  .About_deal {
    width: 100% !important;
    height: 100% !important;
    margin-bottom: 100px !important;
  }
  .About_deal .text {
    padding: 15vh 5vh 15vh;
  }
  .talk {
    height: 100% !important;
    padding: 10vh 5vh !important;
  }
  .footer_div {
    height: 100% !important;
    padding-top: 20vh !important;
  }
}

/*tablet design*/
@media screen and (max-Width: 950px) and (min-Width: 700px) {
  .navbar {
    text-align: center;
  }
  .navbar .navbar-brand img {
    display: none;
  }
  .About_middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100% !important;
  }
  .About_middle .text {
    width: 100% !important;
    height: 50% !important;
    padding: 5vh !important;
    text-align: center;
  }
  .About_middle .img {
    width: 100% !important;
    height: 50% !important;
  }
  .About_talent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100% !important;
  }
  .About_talent .image {
    width: 100% !important;
    height: 50% !important;
  }
  .About_talent .text {
    width: 100% !important;
    height: 50% !important;
    padding: 5vh !important;
    text-align: center;
  }
  .About_talent .text::before {
    right: -20% !important;
    bottom: -50% !important;
  }
  .About_country {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .About_deal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100% !important;
  }
  .About_deal .img {
    width: 100% !important;
    height: 50% !important;
  }
  .About_deal .text {
    width: 100% !important;
    height: 50% !important;
    padding: 5vh !important;
    text-align: center;
  }
  .talk {
    width: 90% !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    height: 100% !important;
    padding: 10vh 0vh !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .talk section {
    width: 80% !important;
  }
  .footer_div {
    height: 100% !important;
    padding-top: 15vh !important;
  }
}

@media screen and (max-width: 700px) and (min-width: 200px) {
  .navbar {
    text-align: center;
  }
  .navbar .navbar-brand img {
    display: none;
  }
  .About_middle {
    width: 100% !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100% !important;
  }
  .About_middle .text {
    width: 100% !important;
    height: 50% !important;
    padding: 5vh 15px !important;
  }
  .About_middle .img {
    width: 100% !important;
    height: 50% !important;
  }
  .About_talent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100% !important;
    height: 100% !important;
  }
  .About_talent .image {
    width: 100% !important;
  }
  .About_talent .image img {
    border-radius: 0 !important;
  }
  .About_talent .text {
    width: 100% !important;
    padding: 5vh 15px !important;
  }
  .country {
    margin-bottom: 50px;
  }
  .About_deal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100% !important;
    height: 100% !important;
  }
  .About_deal .img {
    width: 100% !important;
  }
  .About_deal .img img {
    border-radius: 0;
  }
  .About_deal .text {
    width: 100% !important;
    padding: 5vh 15px !important;
  }
  .talk {
    height: 100% !important;
    width: 95% !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 10vh 15px !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .talk section {
    width: 100% !important;
    margin-bottom: 30px;
  }
  .footer_div {
    text-align: center;
    height: 100% !important;
  }
  .footer_div .footer_navigation {
    text-align: center;
  }
  .footer_div .footer_navigation .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_div .footer_navigation .navbar .navbar-brand {
    margin-right: 0;
    font-family: Poppins;
    font-weight: 700;
  }
  .footer_div .footer_navigation .navbar .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .other_footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .other_footer .address {
    width: 100% !important;
    margin-bottom: 30px;
  }
  .other_footer .contact {
    width: 100% !important;
    margin-bottom: 30px;
  }
  .other_footer .fonts {
    width: 100% !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}
/*# sourceMappingURL=About.css.map */