 $background:rgb(231, 129, 107);
 $Title_font:Josefin Sans;


 @mixin flex_box {
   display: flex;
   align-items: center;
   justify-content: center;

 }

 @mixin grid_box {
   display: grid;
   place-items: center;
 }

 @mixin btn {
   border: none;
   outline: none;
   padding: 8px 40px;
   font-family: Nunito;
   font-weight: 500;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
 }

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }



 /*Index page homepage*/
 .All_page {

   /*Homepage*/
   .homepage {
     width: 100%;

     /*Navigation*/
     .navigation {
       width: 80%;
       margin: auto;
       padding: 0;
       font-family: Nunito;

       .navbar-brand {
         font-family: Josefin Sans;
         font-weight: 800;
         line-height: 0;
         display: flex;
         align-items: center;
         letter-spacing: 1px;

         img {
           margin-top: -10px;
         }
       }

       .nav-link {
         padding: 10px 30px;
         white-space: nowrap;
         font-weight: 500;
         color: rgb(36, 36, 36);

         &:hover {
           background: rgb(238, 238, 238);

         }
       }

     }

     /*Middle part*/
     .Middle_part {
       width: 80%;
       padding: 15vh 0;
       margin: auto;
       background: rgb(231, 129, 107);
       overflow: hidden;
       position: relative;
       border-radius: 10px;

       section {
         width: 80%;
         height: 100%;
         margin: auto;
         display: flex;
         align-items: center;
         font-family: Poppins;

         .text {
           width: 50%;
           color: white;

           h1 {
             font-weight: 600;
             font-family: Josefin Sans;

           }

           p {
             font-size: 12px;
             padding-right: 40px;
           }

           button {
             border: none;
             outline: none;
             padding: 8px 30px;
             font-weight: 500;
             font-size: 14px;
             position: relative;
             z-index: 5;
             transition: all .3s linear;
             box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

             &::before {
               position: absolute;
               top: 0;
               left: 0;
               content: '';
               width: 0;
               height: 100%;
               background: rgb(11, 34, 43);
               z-index: -2;
               transition: all .3s linear;
             }

             &:hover {
               color: #fff;
             }

             &:hover::before {
               width: 100%;
             }
           }
         }

         .image {
           width: 50%;
           height: 100%;
           display: grid;
           place-items: center;
           z-index: 5;

           img {
             transform: scale(1.4);
           }
         }
       }

       &::before {
         position: absolute;
         content: '';
         width: 50%;
         height: 100%;
         background-image: linear-gradient(to right, rgba(4, 18, 32, 0.1), rgb(231, 129, 107));
         ;
         right: 0;
         border-radius: 50%;
       }



     }

   }

   /*project Section*/
   .project {
     width: 80%;
     margin: 70px auto;
     display: flex;
     justify-content: space-between;
     height: 60vh;
     font-family: Josefin Sans;
     color: white;
     text-transform: uppercase;

     h3 {
       font-size: 23px;
     }

     p {
       font-size: 12px;
       color: rgb(128, 128, 128);
     }

     .web_develop {
       width: 49%;
       height: 100%;
       background: #000;
       background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
         url('../image/coding.jpg');
       background-size: cover;
       background-position: bottom;
       background-repeat: no-repeat;
       border-radius: 10px;
       display: grid;
       place-items: center;
       text-align: center;
       cursor: pointer;
       position: relative;
       z-index: 2;
       overflow: hidden;

       &::before {
         position: absolute;
         top: -100%;
         left: 0;
         content: '';
         width: 100%;
         height: 100%;
         background: rgb(8, 35, 36);
         z-index: -2;
         border-radius: 50%;
         transition: all .5s linear;

       }

       &:hover::before {
         top: 0;
         transform: scale(2);
       }

     }

     .design {
       width: 49.5%;
       display: flex;
       justify-content: space-between;
       flex-direction: column;
       border-radius: 10px;
       text-align: center;

       .mobile_app {
         width: 100%;
         height: 48%;
         background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
           url('../image/coding.jpg');
         background-position: bottom;
         background-size: cover;
         background-repeat: no-repeat;
         border-radius: 10px;
         display: grid;
         place-items: center;
         cursor: pointer;
         position: relative;
         z-index: 2;
         overflow: hidden;

         &::before {
           position: absolute;
           top: -100%;
           left: 0;
           content: '';
           width: 100%;
           height: 100%;
           background: rgb(8, 35, 36);
           z-index: -2;
           border-radius: 50%;
           transition: all .5s linear;

         }

         &:hover::before {
           top: 0;
           transform: scale(2);
         }
       }

       .graphice_design {
         width: 100%;
         height: 48%;
         background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
           url('../image/programming.png');
         background-size: cover;
         background-repeat: no-repeat;
         border-radius: 10px;
         display: grid;
         place-items: center;
         cursor: pointer;
         position: relative;
         z-index: 2;
         overflow: hidden;

         &::before {
           position: absolute;
           top: -100%;
           left: 0;
           content: '';
           width: 100%;
           height: 100%;
           background: rgb(8, 35, 36);
           z-index: -2;
           border-radius: 50%;
           transition: all .5s linear;

         }

         &:hover::before {
           top: 0;
           transform: scale(2);
         }
       }
     }
   }

   /*service section*/
   .service {
     width: 80%;
     margin: 70px auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     position: relative;
     padding: 10vh 0;


     &::before {
       position: absolute;
       right: 0;
       top: 30%;
       content: ' ';
       width: 80%;
       height: 90%;
       background-color: rgba(0, 0, 0, 0.05);
       border-radius: 200px 0px 200px 200px;
       z-index: -1;
     }

     .first {
       flex-basis: 31%;

       display: grid;
       place-items: center;
       text-align: center;
       position: relative;

       img {
         margin-bottom: 80px;
         height: 100px;
       }

       &::before {
         position: absolute;
         top: -20px;
         content: ' ';
         width: 170px;
         height: 170px;
         background-image: linear-gradient(to right bottom, rgba(39, 170, 231, 0.2), white);
         border-radius: 50%;
         z-index: -1;
       }

       h3 {
         font-family: Josefin Sans;
         color: rgb(37, 37, 37);
         letter-spacing: 2px;
         font-size: 15px;
         margin-bottom: 20px;

       }

       p {
         font-family: Nunito;
         font-size: 14px;
       }
     }
   }

   /*talk*/
   .talk {
     width: 80%;
     margin: auto;
     height: 35vh;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: rgb(231, 129, 107);
     border-radius: 20px;
     color: white;
     padding: 0 15vh;
     margin-top: -150px;
     position: relative;
     top: 100px;

     section {
       width: 60%;
       font-family: Josefin Sans;


     }

     button {
       padding: 7px 25px;
       border: none;
       outline: none;
       font-weight: 600;
       font-size: 13px;
       text-transform: uppercase;
       border-radius: 5px;
       position: relative;
       z-index: 5;
       transition: all .3s linear;
       box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

       &::before {
         position: absolute;
         top: 0;
         left: 0;
         content: '';
         width: 0;
         height: 100%;
         background: rgb(11, 34, 43);
         z-index: -2;
         transition: all .3s linear;
       }

       &:hover {
         color: #fff;
       }

       &:hover::before {
         width: 100%;
       }
     }
   }

   .footer_div {
     width: 100%;
     height: 50vh;
     background-color: rgb(0, 23, 26);
     z-index: -2;
     padding-top: 20vh;

     .footer_navigation {
       width: 80%;
       margin: auto;
       border-bottom: 1px solid rgba(255, 255, 255, 0.349);

       .navbar-brand {
         margin-left: -20px;
       }

       a {
         color: #fff;
         white-space: nowrap;
       }

       .nav-item {
         margin-right: 20px;

         &:nth-child(3) {
           margin-right: -20px;

         }
       }
     }

     .other_footer {
       width: 80%;
       margin: auto;
       margin-top: 40px;
       display: flex;
       justify-content: space-between;

       p {
         color: #fff;
         font-family: Poppins;
         font-size: 13px;
         line-height: 25px;
       }

       .address {
         width: 30%;
       }

       .contact {
         width: 30%;
       }

       .fonts {
         width: 40%;
         justify-content: flex-end;
         display: flex;
         align-items: flex-end;

         i {
           font-size: 25px;
           color: rgb(177, 177, 177);
           margin: 0 10px;
           cursor: pointer;
           margin-bottom: 20px;
         }
       }
     }

   }
 }



 /*ipad pro layout*/

 @media screen and (min-Width:950px) and (max-Width:1200px) {

   .All_page {


     .Middle_part {
       width: 100vw !important;
       padding: 7vh 0 !important;
       border-radius: 0 !important;

       &::before {
         top: 0;
         right: 5% !important;
         width: 45% !important;
       }

       svg {
         display: none;
       }

       .text {
         width: 90% !important;
       }
     }

     .project {
       height: 30vh;
     }

     .service {
       padding: 4vh 0;
     }

     .talk {
       height: 18vh;
       padding: 0 5vh;
     }

     .footer_div {
       height: 100%;
       padding-top: 10vh;
     }
   }
 }

 /*tablet design*/
 @media screen and (max-Width:950px) and (min-Width: 700px) {
   .All_page {


     .navigation {
       .navbar-brand img {
         display: none;
       }

       .navbar {
         text-align: center;
       }
     }

     .Middle_part {
       padding: 10vh 0 0 0 !important;

       &::before {
         width: 100% !important;
         height: 70% !important;
         transform: scale(1.2);
         top: 20%;
         right: -30% !important;
       }

       section {
         flex-direction: column;

         .text {
           width: 100% !important;
           margin-bottom: 50px;
           text-align: center;
           z-index: 10;

           p {
             padding-right: 0 !important;
           }
         }

         .image {
           width: 100% !important;
           margin-top: 100px;
         }
       }
     }

     .project {
       height: 40vh;
     }

     .service {
       &::before {
         display: none;
       }

       .first {
         min-width: 100%;
         display: flex;
         text-align: left;
         margin-top: 20px;
       }

       .sec img {
         width: 40%;
       }
     }

     .talk {
       width: 90%;
       flex-direction: column;
       text-align: center;
       height: 25vh;
       padding: 0 0vh;
       justify-content: center;

       section {
         width: 80%;
       }
     }

     .footer_div {
       height: 100%;
       padding-top: 15vh;
     }
   }
 }


 /*Mobile design*/
 @media screen and (max-Width:700px) and (min-Width: 100px) {
   .All_page {


     .navbar {
       text-align: center;

       .navbar-brand img {
         display: none;
       }
     }

     .Middle_part {
       width: 100% !important;
       padding: 10vh 0 0 0 !important;
       border-radius: 0 !important;

       &::before {
         width: 150% !important;
         height: 75% !important;
         transform: scale(1.2);
         top: 20%;
         right: -70% !important;
       }

       section {
         width: 100% !important;
         padding: 0 20px;
         flex-direction: column;

         .text {
           width: 100% !important;
           margin-bottom: 50px;
           text-align: center;
           z-index: 10;

           h1 {
             font-size: 35px;

           }

           p {
             padding-right: 0 !important;
             font-size: 19px;
             line-height: 22px;
           }
         }

         .image {
           width: 100% !important;
           margin-top: 100px;
         }
       }
     }

     .project {
       flex-direction: column;
       height: 70vh;

       .web_develop {
         width: 100%;
         margin-bottom: 10px;
       }

       .design {
         width: 100%;
         height: 50vh;
       }
     }

     .service {
       &::before {
         display: none;
       }

       .first {
         min-width: 100%;
         display: flex;
         flex-direction: column;
         text-align: center;
         margin-top: 20px;
       }

       .sec img {
         width: 40%;
       }
     }

     .talk {
       width: 90%;
       flex-direction: column;
       text-align: center;
       padding: 25vh 15px;
       justify-content: center;

       section {
         width: 100%;
         margin-bottom: 30px;
       }
     }

     .footer_div {
       text-align: center;
       height: 100%;

       .footer_navigation {
         text-align: center;

         .navbar {
           flex-direction: column;


           .navbar-brand {
             margin-right: 0;
           }

           .navbar-nav {
             flex-direction: column;

           }
         }
       }
     }

     .footer_div .footer_navigation .nav-item:nth-child(3) {
       margin-right: 20px;
     }

     .other_footer {
       flex-direction: column;

       .address {
         width: 100% !important;
         margin-bottom: 30px;
       }

       .contact {
         width: 100% !important;
         margin-bottom: 30px;
       }

       .fonts {
         width: 100% !important;
         justify-content: center !important;
       }
     }
   }
 }